@use './variables' as *;
@use './mixin';

.app-wrapper {
  min-height: 100%;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  transition: margin-left 0.5s ease;

  @include mixin.width_s {
    padding: $padding-wrapper;
  }

  @include mixin.width_l {
    margin-left: $library-width-l;
  }

  @include mixin.height_xs {
    padding: 1rem;
  }
}
