@use './variables' as *;

.controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.375rem;
  padding: 1rem;
}

.time-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  input {
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: $color-light;
    appearance: none;
    outline: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid $color-light;
      border-radius: 50%;
      background-color: $color-dark;
    }

    &::-moz-range-thumb {
      width: 16px;
      height: 16px;
      border: 2px solid $color-light;
      border-radius: 50%;
      background-color: $color-dark;
    }

    &:focus-visible::-webkit-slider-thumb {
      background-color: $color-light;
    }

    &:focus-visible::-moz-range-thumb {
      background-color: $color-light;
    }
  }

  p {
    min-width: 2.5rem;
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 100%;

    &:first-of-type {
      text-align: right;
    }
  }
}

.play-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .btn {
    border-radius: 50%;
    padding: 1rem;
    outline: none;

    &:focus-visible {
      background-color: $color-light;

      svg {
        color: $color-dark;
      }
    }

    svg {
      min-width: 1.5rem;
    }
  }

  .play {
    border: 2px solid;

    svg {
      min-width: 2rem;
    }
  }
}
