@use './variables' as *;

.controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.375rem;
  padding: 1rem;
}

.time-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  .input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: clip;
    border-radius: 16px;

    .progress-indicator {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10px;
      background-color: $text;
      pointer-events: none;
    }

    input {
      width: 100%;
      height: 10px;
      background-color: $accent;
      appearance: none;
      outline: none;
      cursor: pointer;

      &::-webkit-slider-thumb {
        appearance: none;
        width: 1px;
        height: 10px;
        background-color: $accent;
      }

      &::-moz-range-thumb {
        appearance: none;
        width: 1px;
        height: 10px;
        border: none;
        border-radius: 0;
        background-color: $accent;
      }

      &:focus-visible + .progress-indicator {
        background-color: $secondary;
      }
    }
  }

  p {
    min-width: 2.5rem;
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 100%;

    &:first-of-type {
      text-align: right;
    }
  }
}

.play-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .btn {
    border-radius: 50%;
    padding: 1rem;
    outline: none;

    &:focus-visible {
      background-color: $text;

      svg {
        color: $background;
      }
    }

    svg {
      min-width: 1.5rem;
    }
  }

  .play {
    border: 2px solid;

    svg {
      min-width: 2rem;
    }
  }
}
