@use './variables' as *;
@use './mixin.scss';

.library {
  $padding-left: 0.75rem;

  position: fixed;
  top: 4.5rem;
  left: 0;
  bottom: 0;
  width: $library-width-s;
  padding-top: 0.5rem;
  padding-left: $padding-left;
  background-color: $background-transparent;
  backdrop-filter: blur(4px);
  overflow-y: auto;
  scrollbar-color: $secondary transparent;
  transform: translateX(-100%);
  transition: transform 0.5s ease;

  @include mixin.m {
    width: $library-width-m;
  }

  @include mixin.l {
    top: 0;
    width: $library-width-l;
    padding-top: 1.5rem;
  }

  &.active {
    transform: translateX(0);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary;
  }

  .library-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0.5rem
      calc($padding-wrapper + $padding-header * 2 - $padding-left);
    line-height: 1;

    .library-title {
      color: $secondary;
      font-size: 1.25rem;
      font-weight: 500;
    }

    .icon-wrapper {
      padding: 0.5rem 1rem;

      &:hover,
      &:focus-visible {
        color: $accent;
      }

      svg {
        width: 1.25rem;
      }
    }
  }
}

.library-items {
  list-style: none;
}

.library-item {
  button {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid transparent;
    outline: none;
    text-align: left;

    &.selected {
      border: 1px solid $accent;
    }

    &:hover,
    &:focus-visible {
      background-color: $accent;
      color: $background;
    }

    .image-wrapper {
      flex: 0 0 auto;
      width: 60px;

      @include mixin.m {
        width: 80px;
      }

      img {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }

    .description {
      line-height: 1.4;

      h3 {
        margin-bottom: 0.25rem;
        font-size: 1rem;
        font-weight: 500;
      }

      h4 {
        font-size: 0.875rem;
        font-weight: 400;
      }
    }
  }
}
