@use './variables' as *;
@use './mixin.scss';

.app-header {
  padding-block: $padding-header;
  line-height: 1;

  @include mixin.s {
    padding: $padding-header;
  }

  nav {
    display: flex;
    align-items: baseline;

    .title {
      margin-right: auto;
      padding-inline: $padding-header;
      font-size: 1.125rem;
      font-weight: 600;

      @include mixin.s {
        font-size: 1.25rem;
      }
    }

    .btn-wrapper {
      .nav-btn {
        padding: $padding-header;
        font-size: 1rem;
        font-weight: 400;

        &:not(:last-of-type) {
          margin-right: 0.25rem;
        }

        &:hover,
        &:focus-visible {
          color: $accent;
        }
      }
    }
  }
}
