$text: hsl(228, 24%, 96%);
$background: hsl(240, 14%, 4%);
$background-transparent: hsla(230, 14%, 4%, 0.9);
$primary: hsl(223, 33%, 28%);
$secondary: hsl(218, 33%, 58%);
$accent: hsl(163, 66%, 75%);

$padding-wrapper: 1.5rem;
$padding-header: 1rem;
