@use './app-wrapper';
@use './nav';
@use './track';
@use './controls';
@use './library';
@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  text-size-adjust: none;
}

body {
  background: $background;
  color: $text;
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $primary transparent;
  scrollbar-gutter: stable;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 20px;
  border: transparent;
}
