.controls-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.375rem;
  padding: 1rem;
}

.time-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  input {
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: hsl(0, 18%, 90%);
    appearance: none;
    outline: none;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid hsl(0, 18%, 90%);
      border-radius: 50%;
      background-color: hsl(240, 14%, 4%);
    }

    &::-moz-range-thumb {
      width: 16px;
      height: 16px;
      border: 2px solid hsl(0, 18%, 90%);
      border-radius: 50%;
      background-color: hsl(240, 14%, 4%);
    }

    &:focus::-webkit-slider-thumb {
      background-color: hsl(0, 18%, 90%);
    }

    &:focus::-moz-range-thumb {
      background-color: hsl(0, 18%, 90%);
    }
  }

  p {
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 100%;
  }
}

.play-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .btn {
    border-radius: 50%;
    padding: 1rem;
    outline: none;

    &:focus {
      background-color: hsl(0, 18%, 90%);

      svg {
        color: hsl(240, 14%, 4%);
      }
    }

    svg {
      min-width: 1.5rem;
    }
  }

  .play {
    border: 2px solid;

    svg {
      min-width: 2rem;
    }
  }
}
