@use '../components/Track/track';
@use '../components/Player/player';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  text-size-adjust: none;
}

body {
  background: hsl(240, 14%, 4%);
  color: hsl(0, 18%, 90%);
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
