@use '../components/Track/track';
@use '../components/Controls/controls';
@use '../components/AppWrapper/app-wrapper';
@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  text-size-adjust: none;
}

body {
  background: $color-dark;
  color: $color-light;
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
